<div class="autumn">


<div class="container4">
 <div class="aut">
 <%= image_tag "aki3.jpg"%>
 <h3>秋の和菓子</h3>
 </div>


 <div class="aut1">
    モンブランどらやき<br>
    <h4><%= link_to "詳細へ", sweet_path(35) %></h4>
 </div>

 <div class="aut2">
   月兎<br>
 <h4><%= link_to "詳細へ", sweet_path(38) %></h4>
 </div>

 <div class="aut3">
  上生菓子<br>
  <h4><%= link_to "詳細へ", sweet_path(40) %></h4>
 </div>

 <div class="aut4">
  フルーツ<br>あんみつ<br>
  <h4><%= link_to "詳細へ", sweet_path(41) %></h4>
 </div>
</div>
<a href="http://localhost:3000/?search=">トップページへ</a>


</div>
