<div class="main">

<div class="search-form-6">   
<%= form_tag({controller:"sweets",action:"index"}, method: :get) do %>
<%= text_field_tag :search, nil, placeholder: "キーワードで検索" %>
<% end %>
</div>

<%if params[:search] != "" && params[:search] != nil%>

 <div class="search-container">
    <% @sweets.each do |t| %>
      <div class="">
      
       <%= image_tag t.image_url, size: "500x400" if t.image? %>
       <%= t.name %>
       
        <%= link_to "詳細へ", sweet_path(t.id) %>
    
        
        </div>
      <% end %>

 <%else%>
 <div class="square">

   <div class="text">
    <h1>めぐりあい</h1>
   </div>
 </div>
  <div class="topimage3">
   <div class="topimage2">
      <div class="image src1" class="absolute"></div>
      <div class="image src2" class="absolute"></div>
      <div class="image src3" class="absolute"></div>
    </div>
  </div>

  

  <div class="explanation">
  <h2>「おいしい」も「かわいい」も好き。</h2>
  <h3>洋菓子に比べて手に取られにくい和菓子。</h3>
  <h4>けれど繊細な手作業によって生まれる和菓子特有の良さも知ってもらえたら・・・</h4>
  <h5>そんな気持ちで生まれたサイトです。</h5>
  <h6>Click your favorite season↓</h6>

  <div class="container">
   <div class="springimg">
    <a href="http://localhost:3000/sweets/spring">
    <%= image_tag "spring.2.jpg"%>
    <p>春</p>
    </a>
   </div>

   <div class="summerimg">
    <a href="http://localhost:3000/sweets/summer">
    <%= image_tag "summer.3.jpg"%>
    <p>夏</p>
    </a>
   </div>

   <div class="autumnimg">
    <a href="http://localhost:3000/sweets/autumn">
    <%= image_tag "autumn.jpg"%>
    </a>
    <p>秋</p>
   </div>

   <div class="winterimg">
    <a href="http://localhost:3000/sweets/winter">
    <%= image_tag "winter.jpg"%>
    </a>
    <p>冬</p>
   </div>
  </div>

  



 </div>
</div>
<%end%>