<div class="spring">

    
    <div class="container2">
    <div class="spr">
    <%= image_tag "haru.jpg"%>
    </div>
    <h3>春の和菓子</h3>

    <div class="spr1">
    感謝の花<br>
    <h4><%= link_to "詳細へ", sweet_path(37) %></h4>
    </div>

    <div class="spr2">
    豆乳どら焼き桜餡<br>
    <h4><%= link_to "詳細へ", sweet_path(28) %></h4>
    </div>

    <div class="spr3">
    桜もなか<br>
    <h4><%= link_to "詳細へ", sweet_path(29) %></h4>
    </div>

    <div class="spr4">
    焼き鳳瑞<br>
    <h4><%= link_to "詳細へ", sweet_path(30) %></h4>
    </div>
    </div>

    <%= link_to "トップページ", sweets_path %>


</div>