<div class="winter">


<div class="container5">
 <div class="win">
 <%= image_tag "fuyu2.jpg"%>
 <h3>冬の和菓子</h3>
 </div>

 <div class="win1">
    うぐいす餅<br>
    <h4><%= link_to "詳細へ", sweet_path(t.id) %></h4>
 </div>

 <div class="win2">
    kuki<br>
    <h4><%= link_to "詳細へ", sweet_path(t.id) %></h4>
 </div>

 <div class="win3">
    花びら餅<br>
    <h4><%= link_to "詳細へ", sweet_path(t.id) %></h4>
 </div>

 <div class="win4">
   林檎<br>
 <h4><%= link_to "詳細へ", sweet_path(t.id) %></h4>
</div>


<%= link_to "トップページ", sweets_path %>
</div>

