<div class="winter">


<div class="container5">
 <div class="win">
 <%= image_tag "fuyu2.jpg"%>
 <h3>冬の和菓子</h3>
 </div>

 <div class="win1">
    うぐいす餅<br>
    <h4><%= link_to "詳細へ", sweet_path(42) %></h4>
 </div>

 <div class="win2">
    kuki<br>
    <h4><%= link_to "詳細へ", sweet_path(43) %></h4>
 </div>

 <div class="win3">
    花びら餅<br>
    <h4><%= link_to "詳細へ", sweet_path(44) %></h4>
 </div>

 <div class="win4">
   林檎<br>
 <h4><%= link_to "詳細へ", sweet_path(45) %></h4>
</div>

<a href="http://localhost:3000/?search=">トップページへ</a>
</div>

